[submodule "codegen/webgpu-headers"]
	path = codegen/webgpu-headers
	url = https://github.com/webgpu-native/webgpu-headers.git
[submodule "wgpu-hs/wgpu-native"]
	path = wgpu-hs/wgpu-native
	url = https://github.com/gfx-rs/wgpu-native.git
