name: CI

# Trigger the workflow on push or a pull request, but only for the main branch
on:
  pull_request:
  push:
    branches: [main]

jobs:
  cabal:
    name: ${{ matrix.sys.os }} / ghc ${{ matrix.ghc }}
    runs-on: ${{ matrix.sys.os }}
    strategy:
      matrix:
        sys:
          # The `sdl2` package is currently not compiling for macOS.
          # Reason: unknown.
          # Try again with the next GHC release.
          - { os: macOS-latest,   shell: bash,        flags: '-sdl2 glfw'}
          - { os: ubuntu-latest,  shell: bash,        flags: 'sdl2 glfw'}
          - { os: windows-latest, shell: 'msys2 {0}', flags: 'sdl2 glfw'}
        cabal: ["3.2"]
        ghc:
          - "8.10.5"

    defaults:
      run:
        shell: ${{ matrix.sys.shell }}

    steps:
    - uses: actions/checkout@v2

    - uses: msys2/setup-msys2@v2
      if: ${{ matrix.sys.os == 'windows-latest' }}
      with:
        path-type: inherit

    - name: Install macOS Dependencies
      if: ${{ matrix.sys.os == 'macOS-latest' }}
      run: |
        brew install sdl2

    - name: Install Ubuntu Dependencies
      if: ${{ matrix.sys.os == 'ubuntu-latest' }}
      run: |
        sudo apt-get update
        sudo apt-get install libglfw3-dev libsdl2-dev libxi-dev libxrandr-dev libxxf86vm-dev libxcursor-dev libxinerama-dev -y

    - name: Install Windows Dependencies
      if: ${{ matrix.sys.os == 'windows-latest' }}
      run: |
        pacman --noconfirm -S mingw-w64-x86_64-pkg-config mingw-w64-x86_64-SDL2

    - uses: haskell/actions/setup@v1
      id: setup-haskell-cabal
      name: Setup Haskell
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}

    - name: Configure
      run: |
        cabal configure --enable-tests --enable-benchmarks --test-show-details=direct --flags="${{ matrix.sys.flags }}"

    - name: Freeze
      run: |
        cabal freeze

    - uses: actions/cache@v2.1.3
      name: Cache ~/.cabal/store
      with:
        path: ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
        key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}

    - name: Install dependencies
      run: |
        cabal build all --only-dependencies

    - name: Build
      run: |
        cabal build all

    - name: Test
      run: |
        cabal test all
